<h2>New Word to add to Dictionary</h2>

<form action="/messages" method="post">
  <div class="form-group">
    <input id="user" name="user" class="form-control" type="text" placeholder="User Name">
  </div>
  <div class="form-group">
    <input id="word" name="word" class="form-control" type="text" placeholder="Word for Definitions">
  </div>
  <button class="btn" type="submit">Add Word</button>
</form>