<h1>Words Have Meaning</h1>

<h2>Available Words</h2>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/word/<%= word.id %>"><%= word.user_word %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word</a>